<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ChatGPT AI</title>
</head>
<body>
    <h1>Legal Advisor</h1>
    <form method="post">
        <label for="user_query">Enter your query:</label><br>
        <input type="text" id="user_query" name="user_query"><br>
        
        <label for="input_lang">Select Input Language:</label>
        <select id="input_lang" name="input_lang">
            <option value="ta">Tamil</option>
    <option value="en">English</option>
    <option value="hi">Hindi</option>
    <option value="ml">Malayalam</option>
    <option value="te">Telugu</option>
    <option value="mr">Marathi</option>
    
    <option value="or">Oriya</option>
    <option value="bn">Bengali</option>
    <option value="as">Assamese</option>
    <option value="pa">Punjabi</option>
        </select><br>
        
        <label for="output_lang">Select Output Language:</label>
        <select id="output_lang" name="output_lang">
            <option value="ta">Tamil</option>
    <option value="en">English</option>
    <option value="hi">Hindi</option>
    <option value="ml">Malayalam</option>
    <option value="te">Telugu</option>
    <option value="mr">Marathi</option>
    
    <option value="or">Oriya</option>
    <option value="bn">Bengali</option>
    <option value="as">Assamese</option>
    <option value="pa">Punjabi</option>
        </select><br>
        
        <input type="submit" value="Submit">
    </form>
    {% if translated_text %}
        <h2>Translated Response:</h2>
        <p>{{ translated_text }}</p>
    {% endif %}
    {% if chat_response %}
        <h2>AI Response:</h2>
        <p>{{ chat_response }}</p>
    {% endif %}
</body>
</html>
